<ion-content>
    <ion-label class="titulo">
        <h1> {{movie.title}} </h1>
    </ion-label>
    <img [src]="movie.backdrop_path | image" *ngIf="movie.backdrop_path">
    <ion-grid>
        <ion-row>
            <ion-col size="4" class="poster-detalle-sobre">
                <ion-card class="poster">
                    <img [src]="movie.poster_path | image" class="poster" *ngIf="movie.poster_path">
                </ion-card>
            </ion-col>
            <ion-col offset="1">
                <ion-item>
                    <ion-icon slot="start" name="thumbs-up" color="tertiary"></ion-icon>
                    <ion-label>Rating</ion-label>
                    <ion-note slot="end" color="tertiary">{{movie.vote_average}}</ion-note>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="contacts" color="tertiary"></ion-icon>
                    <ion-label>Votes</ion-label>
                    <ion-note slot="end" color="tertiary">{{movie.vote_count}}</ion-note>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-label>{{movie.overview | slice: 0:hide}} ...</ion-label>
                <ion-label color="tertiary" (click)="hide = 5000" *ngIf="hide !== 5000"> Read More</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-chip color="tertiary" *ngFor="let g of movie.genres">
                    <ion-label>{{g.name}}</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-label>Actors</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-slides [options]="slideOptActors">
        <ion-slide *ngFor="let a of actors">
            <ion-card class="card-actor">
                <img *ngIf="!a.profile_path" src="/assets/no-avatar.jpg">
                <img *ngIf="a.profile_path" [src]="a.profile_path | image">
                <ion-label class="actor-name">{{a.name}}</ion-label>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="start" name="arrow-round-back" color="tertiary"></ion-icon>
                <ion-label color="tertiary">Back</ion-label>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="favorite()">
                <ion-icon slot="end" [name]="heart" color="danger"></ion-icon>
                <ion-label color="tertiary">Favorite</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>