<ion-slides mode="ios" [options]="slideOpts">
    <ion-slide *ngFor="let rm of movies">
        <ion-card mode="md" (click)="viewDetail(rm.id)">
            <img class="poster" [src]="rm.poster_path | image">
        </ion-card>
    </ion-slide>
</ion-slides>