<ion-slides mode="ios" [options]="slideOpts">
    <ion-slide *ngFor="let p of movies | pairs">
        <ion-row>
            <ion-col size="12" *ngFor="let rm of p">
                <ion-card mode="md" (click)="viewDetail(rm.id)">
                    <img class="poster" [src]="rm.poster_path | image">
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-slide>
    <ion-slide class="slide-more">
        <ion-button color="tertiary" expand="full" class="btn-more" size="large" (click)="onClick()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
    </ion-slide>
</ion-slides>