<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="home" class="tertiary-tab"></ion-icon>
            <ion-label class="tertiary-tab">Movies</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="search" class="tertiary-tab"></ion-icon>
            <ion-label class="tertiary-tab">Search</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="heart" class="heart-tab"></ion-icon>
            <ion-label class="label-heart-tab">Favorites</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>