<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favorites</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngFor="let p of favoriteByGenre">
    <ion-grid *ngIf="p.movies.length > 0">
      <ion-row>
        <ion-col>
          <h4> {{p.genre}} </h4>
        </ion-col>
      </ion-row>
      <app-slideshow-poster [movies]="p.movies"></app-slideshow-poster>
    </ion-grid>
  </div>
</ion-content>
