<ion-header>
  <ion-toolbar>
    <ion-title>
      Search Movie
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar placeholder="Movie" animated 
                 (ionChange)="search($event)" [debounce]="700"
                 [value]="searchText"></ion-searchbar>
</ion-toolbar>
<ion-content>
  <ion-grid *ngIf="searching">
    <ion-row>
      <ion-col text-center>
        <ion-spinner color="tertiary" name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="movies.length === 0">
    <ion-list-header>
      <ion-label>Ideas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let i of ideas" (click)="searchText = i">
      <ion-label color="tertiary">{{ i }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let m of movies | filterImage">
        <ion-card (click)="movieDetail(m.id)">
          <img [src]="m.poster_path | image">
          <ion-card-header>
            <ion-card-subtitle>{{m.release_date}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{m.title}}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
