<ion-content padding>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>New Movies</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slideshow-backdrop [movies]="recentMovies"></app-slideshow-backdrop>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Cinema Listings</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slideshow-poster [movies]="recentMovies"></app-slideshow-poster>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Popular Movies</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slideshow-pairs [movies]="popular" (loadMore)="loadMore()"></app-slideshow-pairs>
</ion-content>