<ion-slides mode="ios" [options]="slideOpts">
    <ion-slide *ngFor="let rm of movies | filterImage">
        <ion-card (click)="viewDetail(rm.id)">
            <img [src]="rm.backdrop_path | image">
        </ion-card>
    </ion-slide>
</ion-slides>